@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .react-slideshow-container + ul.indicators {
    position: absolute;
    bottom: 46px;
    left: 150px;
  }

  .react-slideshow-container
    + ul.indicators
    .each-slideshow-indicator.active:before {
    background: #ffffff;
  }
}
