@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Noto Sans TC, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  html,
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* @apply bg-black */
  }
  #root {
    @apply w-full h-full;
  }
}

@layer utilities {
  .openSans {
    font-family: "Open Sans";
  }

  .gradient {
<<<<<<< Updated upstream
    @apply bg-gradient-to-r from-purple-500 to-pink-500
    background: transparent linear-gradient(180deg, #ffffff00 0%, #ffffff 100%)
      0% 0% no-repeat padding-box;
=======
    background: transparent linear-gradient(180deg, #ffffff00 0%, #ffffff 100%)
      0% 0% no-repeat padding-box;
  }
  .blur {
    opacity: 0.5;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
>>>>>>> Stashed changes
  }
  .blur {
    opacity: 0.5;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }
}